.contacts {
  display: flex;
  justify-content: flex-start;
  padding: 68px 103px 64px 120px;

  @include tablet {
    justify-content: center;
    padding: 68px 179px 62px 133px;

    border: none;
  }

  @include mobile {
    justify-content: flex-start;
    padding: 68px 15px 62px;
  }

  border-top: 1px solid $color-light-slate-grey;
}

.contacts__wrapper {
  width: 100%;

  @include tablet {
    max-width: unset;
  }

  @include mobile {
    min-width: 290px;
  }

  h2 {
    align-self: flex-start;
    margin-bottom: 40px;

    font-family: $ff-bebas-neue;
    font-weight: 700;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;

    @include tablet {
      margin-bottom: 34px;

      font-size: 42px;
      line-height: 42px;
    }

    @include mobile {
      margin-bottom: 36px;

      font-size: 32px;
      line-height: 32px;
    }
  }
}

.contacts__content-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  column-gap: 40px;
  margin-left: 4px;
  max-width: 400px;

  @include tablet {
    max-width: 456px;
    margin-left: 0;
    row-gap: 21px;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
    width: unset;
  }

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 57.8%;
    width: 1px;
    height: calc(100% - 13px);
    margin-left: -1px;
    background-color: $color-light-slate-grey;

    @include tablet {
      left: 58.5%;
    }

    @include mobile {
      content: none;
    }
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  row-gap: 17px;

  @include tablet {
    row-gap: 19px;
  }
}

.contacts__item {
  h3 {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    @include tablet {
      margin-bottom: 6px;

      font-size: 20px;
      line-height: 30px;
    }
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    @include tablet {
      font-size: 18px;
      line-height: 27px;
    }
  }
}

.contacts__phone {
  display: block;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.contacts__email {
  display: block;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
