.events {
  background-color: $color-default-white;
}

.events__wrapper {
  display: grid;
  grid-template-columns: 560px 1fr;
  justify-content: center;
  column-gap: 40px;
  padding: 112px 103px 118px;

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 92px 45px 98px;
  }

  @include mobile {
    padding: 62px 15px 68px;
  }

  h2 {
    grid-column: 1 / 3;
    margin-bottom: 52px;

    font-family: $ff-bebas-neue;
    font-weight: 700;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    text-align: center;

    @include tablet {
      margin-bottom: 42px;

      font-size: 42px;
      line-height: 42px;
    }

    @include mobile {
      margin-bottom: 44px;

      font-size: 32px;
      line-height: 32px;
    }
  }
}

.events__main-block {
  position: relative;
  display: flex;

  @include tablet {
    margin-bottom: 30px;
  }

  @include mobile {
    flex-direction: column;
    width: 100%;
    max-width: 566px;
  }

  &::after {
    content: "";
    display: block;
    width: 280px;
    height: 100%;
    background-color: $color-havelock-blue;
    background-image: url("../img/decor/events/events-preview-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;

    @include tablet {
      width: 399px;
      min-height: 462px;
      background-image: url("../img/decor/events/events-preview-tablet.jpg");
    }

    @include mobile {
      width: 100%;
      height: 299px;
      min-height: unset;
      background-image: url("../img/decor/events/events-preview-mobile.jpg");
    }

    @include retina {
      background-image: url("../img/decor/events/events-preview-desktop@2x.jpg");

      @include tablet {
        background-image: url("../img/decor/events/events-preview-tablet@2x.jpg");
      }

      @include mobile {
        background-image: url("../img/decor/events/events-preview-mobile@2x.jpg");
      }
    }
  }
}

.events__content-wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 33px 40px 45px 45px;

  @include tablet {
    width: 279px;
  }

  @include mobile {
    align-items: center;
    width: 100%;
    padding: 33px 40px 45px 40px;
  }

  background-color: $color-torch-red;

  h3 {
    order: 1;
    margin-bottom: 10px;

    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    @include mobile {
      margin-bottom: 32px;

      text-align: center;
    }

    color: $color-default-white;
  }

  p {
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;

    color: $color-default-white;
  }

  span {
    margin-bottom: 26px;

    font-weight: 700;
    font-size: 70px;
    line-height: 58px;

    @include mobile {
      margin-bottom: 20px;
    }

    color: $color-default-white;
  }

  a {
    display: block;
    align-self: flex-start;
    order: 2;
    width: 79px;
    margin-top: auto;

    @include tablet {
      align-self: flex-start;
    }

    @include mobile {
      align-self: center;
    }

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    border: none;
    border-bottom: 1px solid $color-default-white;
    background-color: $color-transparent;
    color: $color-default-white;

    cursor: pointer;
    user-select: none;

    transition: opacity $trans-default;


    &:disabled {
      opacity: 0.5;

      pointer-events: none;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }
}

.events__side-block {
  @include mobile {
    width: 100%;
    max-width: 566px;
  }

}

.events__list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  @include tablet {
    flex-direction: row;
    column-gap: 30px;
  }

  @include mobile {
    flex-direction: column;
    row-gap: 30px;
  }
}

.events__item {
  display: flex;
  flex-direction: column;
  min-height: 211px;
  padding: 22px 28px 28px;

  @include tablet {
    width: 324px;
  }

  @include mobile {
    align-items: center;
    width: 100%;
    padding: 33px 28px 39px;
  }

  border-width: 7px;
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right bottom, $color-crimson 0%, $color-smalt 100%);

  &--bring-a-friend {
    @include tablet {
      p {
        padding-right: 30px;
      }
    }

    @include mobile {
      p {
        padding-right: 0;
      }
    }
  }

  h3 {
    margin-bottom: 8px;

    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
  }

  p {
    margin-bottom: 10px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    @include mobile {
      margin-bottom: 29px;

      text-align: center;
    }
  }

  a {
    display: block;
    width: 68px;
    margin-top: auto;

    @include mobile {
      margin-top: 0;
    }

    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    border: none;
    border-bottom: 1px solid $color-sapphire;
    background-color: $color-transparent;
    cursor: pointer;
    user-select: none;

    color: $color-sapphire;

    transition: opacity $trans-default;

    &:disabled {
      opacity: 0.5;

      pointer-events: none;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }
}
