.gym {
  background-color: $color-default-white;
}

.gym__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 415px 1fr;
  column-gap: 85px;
  padding: 120px 103px 235px;

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 98px 45px 183px;
  }

  @include mobile {
    padding: 68px 0 70px;
  }
}

.gym__title-wrapper {
  padding: 47px 0 0 60px;

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 36px;
    padding: 0;
  }

  @include mobile {
    align-items: flex-start;
    margin-bottom: 26px;
    padding: 0 15px;
  }

  h2 {
    margin-bottom: 7px;

    font-family: $ff-bebas-neue;
    font-weight: 700;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;

    @include tablet {
      margin-bottom: 9px;

      font-size: 42px;
      line-height: 42px;
    }

    @include mobile {
      margin-bottom: 6px;

      font-size: 32px;
      line-height: 32px;
    }
  }

  h3 {
    margin-bottom: 39px;

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    @include tablet {
      margin-bottom: 34px;

      font-size: 18px;
      line-height: 27px;
    }

    @include mobile {
      margin-bottom: 24px;
    }
  }

  p {
    margin-bottom: 8px;

    @include tablet {
      padding: 0 88px;

      text-align: center;
    }

    @include mobile {
      padding: 0 32px 0 0;

      text-align: left;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.gym__hide-content {
  @include tablet {
    display: none;
  }
}

.gym__image-wrapper {
  width: 100%;
  height: 401px;

  @include tablet {
    width: 678px;
    height: 345px;
  }

  @include mobile {
    width: 100%;
    height: 313px;
    margin-bottom: 40px;
  }

  img {
    width: 660px;
    height: 401px;
    object-fit: cover;

    @include tablet {
      width: 678px;
      height: 345px;
    }

    @include mobile {
      width: 100%;
      height: 313px;
    }
  }
}

.gym__video__wrapper {
  position: absolute;
  bottom: 120px;
  left: 540px;
  width: 364px;
  height: 228px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-mariner;
    background-image: url("../img/decor/gym/preview-desktop.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;

    @include tablet {
      background-image: url("../img/decor/gym/preview-tablet.jpg");
    }

    @include mobile {
      background-image: url("../img/decor/gym/preview-mobile.jpg");
      background-size: cover;
      background-position: 50% 50%;
    }

    @include retina {
      background-image: url("../img/decor/gym/preview-desktop@2x.jpg");

      @include tablet {
        background-image: url("../img/decor/gym/preview-tablet@2x.jpg");
      }

      @include mobile {
        background-image: url("../img/decor/gym/preview-mobile@2x.jpg");
      }
    }
  }

  @include tablet {
    bottom: 100px;
    left: 50%;
    width: 266px;
    height: 167px;
    margin-left: -133px;
  }

  @include mobile {
    position: relative;
    bottom: unset;
    left: unset;
    width: 320px;
    height: 167px;
    margin-left: 0;
  }

  &--active {
    &::before {
      content: none;
    }

    .gym__video-play-button {
      display: none;
    }
  }
}

.gym__video {
  width: 364px;
  height: 228px;
  object-fit: cover;

  @include tablet {
    width: 266px;
    height: 167px;
  }

  @include mobile {
    width: 320px;
    height: 167px;
  }
}

.gym__video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  padding: 0;

  background-image: url("../../img/svg/icon-play-button.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;

  @include tablet {
    width: 73px;
    height: 73px;
    margin-top: -36.5px;
    margin-left: -36.5px;
  }

  background-color: $color-transparent;
  border: none;
  cursor: pointer;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.gym__video-icon {
  width: 100px;
  height: 100px;

  @include tablet {
    width: 73px;
    height: 73px;
  }
}
