.membership {
  position: relative;

  background-color: $color-ghost-white;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -150px;
    width: 287px;
    height: 494px;

    background-image: url("../img/decor/membership/membership-background-desktop.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;

    @include tablet {
      bottom: -125px;
      width: 347px;
      height: 444px;

      background-image: url("../img/decor/membership/membership-background-tablet.png");
    }

    @include mobile {
      content: none;
    }

    @include retina {
      background-image: url("../img/decor/membership/membership-background-desktop@2x.png");

      @include tablet {
        background-image: url("../img/decor/membership/membership-background-tablet@2x.png");
      }
    }
  }
}

.membership__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 118px 103px 120px;

  @include tablet {
    padding: 98px 45px 100px;
  }

  @include mobile {
    padding: 68px 15px 70px;
  }

  h2 {
    margin-bottom: 35px;

    font-family: $ff-bebas-neue;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;

    @include tablet {
      margin-bottom: 30px;

      font-size: 42px;
      line-height: 42px;
    }

    @include mobile {
      margin-bottom: 22px;

      font-size: 32px;
      line-height: 32px;
    }
  }
}

.membership__period-list {
  position: relative;
  display: flex;
  margin-bottom: 38px;
  padding-bottom: 14px;

  @include tablet {
    margin-bottom: 44px;
  }

  @include mobile {
    margin-bottom: 34px;
    padding-bottom: 15px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba($color-grey, 0.2);
  }
}

.membership__period-item {
  margin-right: 49px;

  @include tablet {
    margin-right: 57px;
  }

  @include mobile {
    margin-right: 47px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.membership__period-link {
  position: relative;
  font-size: 20px;
  line-height: 30px;

  @include tablet {
    font-size: 18px;
    line-height: 27px;
  }

  @include mobile {
    font-size: 16px;
    line-height: 24px;
  }

  color: rgba($color-sapphire, 0.5);
  cursor: pointer;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }

  &--active {
    color: $color-sapphire;

    &::after {
      content: "";
      position: absolute;
      bottom: -17px;
      left: 0;
      width: 100%;
      height: 2px;

      @include tablet {
        bottom: -16px;
      }

      @include mobile {
        bottom: -17px;
      }

      background-color: $color-crimson;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        opacity: 1;
        cursor: default;
      }
    }
  }
}

.membership__prices-list {
  z-index: 1;
  display: none;

  &--active {
    display: grid;
    grid-template-columns: minmax(300px, 360px) minmax(300px, 360px) minmax(300px, 360px);
    column-gap: 40px;

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 40px;
    }

    @include mobile {
      row-gap: 35px;
    }
  }
}

.membership__prices-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 448px;
  padding: 62px 32px 68px;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-width: 7px;
      border-style: solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(to right bottom, $color-crimson 0%, $color-smalt 100%);
    }

    &:hover {
      a {
        padding: 25px 20px;

        border: none;
        background: linear-gradient(97.05deg, $color-torch-red 17.6%, $color-cobalt 95.31%);
        color: $color-default-white;
      }
    }
  }

  @include tablet {
    width: 442px;

    &:focus::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-width: 7px;
      border-style: solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(to right bottom, $color-crimson 0%, $color-smalt 100%);
    }

    &:focus {
      a {
        padding: 25px 20px;

        border: none;
        background: linear-gradient(97.05deg, $color-torch-red 17.6%, $color-cobalt 95.31%);
        color: $color-default-white;
      }
    }
  }

  @include mobile {
    width: 290px;
    min-height: 384px;
    padding: 50px 42px 55px;
  }

  background-color: $color-default-white;

  h3 {
    z-index: 1;
    margin-bottom: 10px;

    font-size: 26px;
    line-height: 29px;

    @include mobile {
      font-size: 22px;
      line-height: 24px;
    }
  }

  p {
    z-index: 1;
    margin-bottom: 59px;

    @include mobile {
      margin-bottom: 48px;
    }

    color: $color-chambray;

    + p {
      z-index: 1;
      position: relative;
      margin-bottom: 35px;

      font-weight: 700;
      font-size: 60px;
      line-height: 90px;

      @include mobile {
        margin-bottom: 31px;

        font-size: 48px;
        line-height: 72px;
      }

      color: $color-egyptian-blue;

      &::before {
        z-index: -1;
        content: attr(data-price);
        position: absolute;
        top: -47px;
        left: -18px;
        width: 100%;
        height: 69px;

        font-weight: 700;
        font-size: 100px;
        line-height: 150px;

        @include mobile {
          top: -38px;
          left: -14px;
          height: 55px;

          font-size: 80px;
          line-height: 120px;
        }

        color: $color-whisper;
        opacity: 0.48;
      }
    }
  }

  a {
    display: block;
    z-index: 1;
    width: 206px;
    padding: 23px 20px;

    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;

    border: 2px solid $color-sapphire;
    background-color: $color-transparent;
    color: $color-sapphire;

    transition: opacity $trans-default;

    &:disabled {
      opacity: 0.5;

      pointer-events: none;
    }

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }
}
