// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-venetian-red:                #b80027;
$color-dark-cerulean:               #003d85;
$color-sapphire:                    #102654;
$color-mariner:                     #4663a2;
$color-ghost-white:                 #f8f9fc;
$color-grey:                        #787878;
$color-crimson:                     #d10a42;
$color-chambray:                    #495a7d;
$color-egyptian-blue:               #103aae;
$color-whisper:                     #e8e8e8;
$color-smalt:                       #00359f;
$color-torch-red:                   #ed0233;
$color-cobalt:                      #003eb7;
$color-cobalt-2:                    #0041ca;
$color-torea-bay:                   #282b84;
$color-cindle:                      #b6bdcc;
$color-persian-blue:                #2e35ac;
$color-resolution-blue:             #1c3374;
$color-havelock-blue:               #5482dd;
$color-light-slate-grey:            #74819c;
$color-black-russian:               #030a1a;

// Gradient
$venetian-red-and-dark-cerulean:    conic-gradient(from 130.31deg at 16.03% 39.06%, $color-venetian-red -46.69deg, $color-dark-cerulean 32.24deg, $color-venetian-red 313.31deg, $color-dark-cerulean 392.24deg);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;

$ff-bebas-neue:                     "BN", "Arial", sans-serif;
$ff-roboto-condensed:               "Roboto Condensed", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-768:                            768px;
$vp-1200:                           1200px;
$vp-1366:                           1366px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
